<apex:page controller="ExcelToXmlctrlr" sidebar="false" showHeader="false">
<apex:pagemessages ></apex:pagemessages>
  <apex:form > 
<!-- <apex:inputtextarea cols="40" rows="20" value="{!textToParse}"  /> 
  <apex:inputtextarea cols="40" rows="20" id="result" value="{!parsedText}"/>      
  <br /> --> 
  <apex:inputFile id="file" fileName="{!filename}" value="{!contentFile}"></apex:inputFile>
  <apex:commandButton value="Parse" action="{!parse}" /> <!--  reRender="result" -->
  </apex:form> 
</apex:page>